<!DOCTYPE html>
<html lang="en">
<head>
    <style> h1 {
        color: pink;
        font-size: 30px;
    }</style>
    <meta charset="UTF-8">
    <title>Formularz</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

<h1>Wpisz swoje dane</h1>

<form action ="/result" method="get">
    <label>Podaj imię:</label>
    <input type = "text" name="firstName">
    <br>
    <label>Podaj nazwisko:</label>
    <input type = "text" name="lastName">
    <input type="submit" value="Pokaż">
    <!-- to jest komenatrz -->
</form>

</body>
</html>